* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    line-height: 1.5em;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0px;
    background-color: #20B2AA;
}
header nav ul li .menu:link, header nav ul li .menu:visited {
    display: inline-block;
    text-decoration: none;
    color:white;
    padding:15px 20px;
    width: 100%;
}
header nav ul li .menu:hover {
    background-color: white;
    color: #20B2AA;
}

footer {
    background-color: #778899;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top:auto;
}

footer p {
    margin-bottom: 0px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    font-size: 50px;
    margin: 30px;
}

.main p{
    margin: 60px;
}

.table-space {
    margin-top: 20px;
}

.form-group {
    margin-top: 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.search-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    background-color: #20B2AA !important;
    border: none !important;
}

thead {
    background-color:#20b2abb2;
}